/2-04Tarea/Para el parcial/PracticaPoxy/nbproject/private/
/New Folder/ClienteClaculadora/nbproject/private/
/New Folder/ClienteClaculadora/build/
/New Folder/Sistemasventas/nbproject/private/
/New Folder/Sistemasventas/build/
